<div class="container">
  <div class="navigation">
    <button mat-raised-button (click)="handleClickNavi1()">
      Übersichtstabelle
    </button>
    <button mat-raised-button disabled>Kontenübersicht</button>
    <button mat-raised-button (click)="handleClickNavi3()">
      Tabellen basierte Auswertung
    </button>
  </div>
  <div class="content">
    <div class="content-title">
      <span class="title"><h2>Kontenübersicht</h2></span>
      <span
        class="subtitle"
        [style]="{ visibility: showRange ? 'visible' : 'hidden' }"
        >für das Jahr {{ year }}</span
      >
    </div>
    <div class="content-header">
      <mat-form-field class="name">
        <mat-label>Mitarbeitername</mat-label>
        <mat-select [(ngModel)]="modelEmployee" multiple>
          <mat-option *ngFor="let e of employees" [value]="e">
            {{ e.firstName }} {{ e.lastName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field class="year">
        <mat-label>Jahr eingeben</mat-label>
        <input
          matInput
          placeholder="Ex. 2020"
          value="2020"
          type="number"
          size="4"
          [(ngModel)]="modelYear"
        />
      </mat-form-field>
      <button
        mat-raised-button
        *ngIf="modelEmployee !== selectedEmployee || modelYear !== year"
        (click)="handleClickFilter()"
      >
        Filter
      </button>
      <button
        mat-raised-button
        *ngIf="modelEmployee === selectedEmployee && modelYear === year"
        disabled
      >
        Filter
      </button>
    </div>
    <div class="content-content">
      <table mat-table [dataSource]="dataSource">
        1" >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let e">{{ e.name }}</td>
        </ng-container>
        <ng-container matColumnDef="illness">
          <th mat-header-cell *matHeaderCellDef>Krankheitstage</th>
          <td mat-cell *matCellDef="let e">{{ e.illness }} Tag(e)</td>
        </ng-container>
        <ng-container matColumnDef="vacation">
          <th mat-header-cell *matHeaderCellDef>Urlaubstage</th>
          <td mat-cell *matCellDef="let e">{{ e.vacation }} Tag(e)</td>
        </ng-container>
        <ng-container matColumnDef="specialdays">
          <th mat-header-cell *matHeaderCellDef>Sondertage</th>
          <td mat-cell *matCellDef="let e">{{ e.specialDays }} Tag(e)</td>
        </ng-container>
        <ng-container matColumnDef="overtime">
          <th mat-header-cell *matHeaderCellDef>Gesammelte Überstunden</th>
          <td mat-cell *matCellDef="let e">
            {{ e.overtime | number: "1.2-2" }} Stunde(n)
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      </table>
    </div>
    <!-- <div
      class="content-content"
      *ngIf="overtimes && illnessesDays && remainingVacations && specialDays"
    >
      <mat-card class="card">
        <mat-card-header class="card-title">
          <mat-card-title
            ><h1>
              {{ selectedEmployee.firstName }} {{ selectedEmployee.lastName }}
            </h1></mat-card-title
          >
          <mat-card-subtitle
            >Employee Id : {{ selectedEmployee.employeeId }}</mat-card-subtitle
          >
          <mat-card-subtitle
            >Die Übersicht für das Jahr {{ year }}</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content
          ><div class="image"></div>
          <div class="card-content">
            <mat-list>
              <mat-list-item
                >Überstundenkonto für das Jahr beträgt
                {{ overtimes.overtime }} Stunden.
              </mat-list-item>
              <mat-list-item
                >Krankheitstage betragen
                {{ illnessesDays.illnessDays }} Tage.</mat-list-item
              >
              <mat-list-item
                >Urlaubskonto beträgt
                {{ remainingVacations.remainingVacation }} Tage./
                {{ remainingVacations.vacationEntitlement }}</mat-list-item
              >
              <mat-list-item *ngIf="specialDays.length"
                >Sondertage betragen {{ specialDays[0].specialDays }} Tage.
              </mat-list-item>
            </mat-list>
          </div>
        </mat-card-content>
      </mat-card>
    </div> -->
  </div>
</div>
