<div class="container">
  <app-navi></app-navi>
  <div class="content">
    <div class="content-title">
      <span class="title"><h2>Kontenübersicht</h2></span>
      <span
        [style]="{ visibility: showRange ? 'visible' : 'hidden' }"
        class="subtitle"
      >für das Jahr {{ year }}</span
      >
    </div>
    <div class="content-header">
      <mat-form-field class="name">
        <mat-label>Mitarbeitername</mat-label>
        <mat-select [(ngModel)]="modelEmployee" multiple>
          <mat-option *ngFor="let e of employees" [value]="e">
            {{ e.firstName }} {{ e.lastName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field class="year">
        <mat-label>Jahr eingeben</mat-label>
        <input
          [(ngModel)]="modelYear"
          matInput
          placeholder="Ex. 2020"
          size="4"
          type="number"
          value="2020"
        />
      </mat-form-field>
      <button
        (click)="handleClickFilter()"
        *ngIf="modelEmployee !== selectedEmployee || modelYear !== year"
        mat-raised-button
      >
        Filter
      </button>
      <button
        *ngIf="modelEmployee === selectedEmployee && modelYear === year"
        disabled
        mat-raised-button
      >
        Filter
      </button>
    </div>
    <div class="content-content">
      <table [dataSource]="dataSource" mat-table>
        1" >
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell>Name</th>
          <td *matCellDef="let e" mat-cell>{{ e.name }}</td>
        </ng-container>
        <ng-container matColumnDef="illness">
          <th *matHeaderCellDef mat-header-cell>Krankheitstage</th>
          <td *matCellDef="let e" mat-cell>{{ e.illness }} Tag(e)</td>
        </ng-container>
        <ng-container matColumnDef="vacation">
          <th *matHeaderCellDef mat-header-cell>Urlaubstage</th>
          <td *matCellDef="let e" mat-cell>{{ e.vacation }} Tag(e)</td>
        </ng-container>
        <ng-container matColumnDef="specialdays">
          <th *matHeaderCellDef mat-header-cell>Sondertage</th>
          <td *matCellDef="let e" mat-cell>{{ e.specialDays }} Tag(e)</td>
        </ng-container>
        <ng-container matColumnDef="overtime">
          <th *matHeaderCellDef mat-header-cell>Gesammelte Überstunden</th>
          <td *matCellDef="let e" mat-cell>
            {{ e.overtime | number: "1.2-2" }} Stunde(n)
          </td>
        </ng-container>
        <tr
          *matHeaderRowDef="columnsToDisplay; sticky: true"
          mat-header-row
        ></tr>
        <tr *matRowDef="let myRowData; columns: columnsToDisplay" mat-row></tr>
      </table>
    </div>
  </div>
  <app-footer></app-footer>
</div>
