<div class="container" *ngIf="employees">
  <div mat-dialog-title class="title"><h2>Einloggen</h2></div>
  <div mat-dialog-content class="content">
    <mat-form-field class="name">
      <mat-label>Name</mat-label>
      <mat-select [(ngModel)]="inputEmployeeId">
        <mat-option *ngFor="let e of employees" [value]="e.employeeId">
          {{ e.firstName }} {{ e.lastName }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field class="password">
      <input
        matInput
        [(ngModel)]="inputPassword"
        placeholder="Kennwort eingeben"
        type="password"
      />
    </mat-form-field>
  </div>
  <button mat-raised-button class="button" (click)="handleClickLogin()">
    Anmelden
  </button>
  <span
    class="errorMessage"
    [style]="{ visibility: errorPassword === true ? 'visible' : 'hidden' }"
    >{{ message }}</span
  >
</div>
