<div class="container">
  <h1 class="title" mat-dialog-title>
    {{ day.dateOfDetails | date: "fullDate" }}
  </h1>
  <div mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Übersicht"
      >
        <table [dataSource]="listComplete" mat-table>
          <ng-container matColumnDef="angabe">
            <th *matHeaderCellDef mat-header-cell>Angabe</th>
            <td *matCellDef="let item" mat-cell>
              <span
                *ngIf="item.position.break !== 0"
                class="break-spacer"
              ></span
              >{{ getTitle(item) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="start">
            <th *matHeaderCellDef class="center" mat-header-cell>Start</th>
            <td *matCellDef="let item" class="center" mat-cell>
              <span *ngIf="!item.editable">{{
                item.start | date: "HH:mm"
                }}</span>
              <span *ngIf="item.editable"
              ><input
                [(ngModel)]="inputStart"
                type="time"
                value="{{ item.start | date: 'HH:mm' }}"
              /></span>
            </td>
          </ng-container>
          <ng-container matColumnDef="end">
            <th *matHeaderCellDef class="center" mat-header-cell>End</th>
            <td *matCellDef="let item" class="center" mat-cell>
              <span *ngIf="!item.editable">{{ item.end | date: "HH:mm" }}</span>
              <span *ngIf="item.editable"
              ><input
                [(ngModel)]="inputEnd"
                type="time"
                value="{{ item.end | date: 'HH:mm' }}"
              /></span>
            </td>
          </ng-container>
          <tr *matHeaderRowDef="column" mat-header-row></tr>
          <tr *matRowDef="let row; columns: column" mat-row></tr>
        </table>
        <div class="action-button">
          <button class="button" mat-button mat-dialog-close>Abbrechen</button>
        </div>
      </mat-tab
      >

      <mat-tab
        *ngIf="
          selectedItem.position.break === 0 && selectedItem.position.book === 0
        "
        label="Buchung hinzufügen"
      >
        <div class="tab-content-add">
          <div class="input-time">
            Startzeit der hinzuzufügenden Buchung :
            <input
              [(ngModel)]="inputStart"
              class="input-starttime"
              mat-input
              size="5"
              type="time"
              value="{{ inputStart }}"
            />
          </div>
          <div class="input-time">
            Endzeit der hinzuzufügenden Buchung :
            <input
              [(ngModel)]="inputEnd"
              class="input-endtime"
              mat-input
              size="5"
              type="time"
              value="{{ inputEnd }}"
            />
          </div>
          <div class="input-time">
            Ort der Buchung :
            <mat-form-field class="name">
              <mat-select [(ngModel)]="inputLocation">
                <mat-option *ngFor="let l of listLocation" [value]="l">
                  {{ l }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="action-button">
          <button (click)="addBooking()" class="button" mat-button>
            Buchung hinzufügen
          </button
          >
          <button class="button" mat-button mat-dialog-close>Abbrechen</button>
        </div>
      </mat-tab>
      <mat-tab
        *ngIf="
          selectedItem.position.book !== 0 && selectedItem.position.break === 0
        "
        label="Buchung Bearbeiten"
      >
        <div class="tab-content-add">
          <div class="input-time">
            Startzeit der zu bearbeitenden Buchung :
            <input
              [(ngModel)]="inputStart"
              class="input-starttime"
              mat-input
              size="5"
              type="time"
              value="{{ selectedItem.start | date: 'HH:mm' }}"
            />
          </div>
          <div class="input-time">
            Endzeit der zu bearbeitenden Buchung :
            <input
              [(ngModel)]="inputEnd"
              class="input-endtime"
              mat-input
              size="5"
              type="time"
              value="{{ selectedItem.start | date: 'HH:mm' }}"
            />
          </div>
        </div>
        <div class="action-button">
          <button (click)="editItem()" class="button" mat-button>
            Buchung bearbeiten
          </button
          >
          <button class="button" mat-button mat-dialog-close>Abbrechen</button>
        </div>
      </mat-tab>
      <mat-tab
        *ngIf="
          selectedItem.position.book !== 0 && selectedItem.position.break === 0
        "
        label="Buchung Löschen"
      >
        <div class="tab-content-add">
          <div class="input-time">
            Startzeit der zu löschenden Buchung :
            <span class="starttime">
              <strong>{{ selectedItem.start | date: "HH:mm" }}</strong>
            </span>
          </div>
          <div class="input-time">
            Endzeit der zu löschenden Buchung :
            <span class="endtime">
              <strong>{{ selectedItem.end | date: "HH:mm" }}</strong>
            </span>
          </div>
        </div>

        <div class="action-button">
          <button (click)="deleteItem()" class="button" mat-button>
            Buchung löschen
          </button
          >
          <button class="button" mat-button mat-dialog-close>Abbrechen</button>
        </div>
      </mat-tab>
      <mat-tab
        *ngIf="
          selectedItem.position.book !== 0 && selectedItem.position.break === 0
        "
        label="Pause hinzufügen"
      >
        <div class="tab-content-add">
          <div class="input-time">
            Startzeit der hinzuzufügenden Pause :
            <input
              [(ngModel)]="inputStart"
              class="input-starttime"
              mat-input
              size="5"
              type="time"
              value="{{ selectedItem.start | date: 'HH:mm' }}"
            />
          </div>
          <div class="input-time">
            Endzeit der hinzuzufügenden Pause :
            <input
              [(ngModel)]="inputEnd"
              class="input-endtime"
              mat-input
              size="5"
              type="time"
              value="{{ selectedItem.start | date: 'HH:mm' }}"
            />
          </div>
        </div>
        <div class="action-button">
          <button (click)="addBooking()" class="button" mat-button>
            Pause hinzufügen
          </button
          >
          <button class="button" mat-button mat-dialog-close>Abbrechen</button>
        </div>
      </mat-tab>
      <mat-tab
        *ngIf="selectedItem.position.break !== 0"
        label="Pause bearbeiten"
      >
        <div class="tab-content-add">
          <div class="input-time">
            Startzeit der zu bearbeitenden Pause :
            <input
              [(ngModel)]="inputStart"
              class="input-starttime"
              mat-input
              size="5"
              type="time"
              value="{{ selectedItem.start | date: 'HH:mm' }}"
            />
          </div>
          <div class="input-time">
            Endzeit der zu bearbeitenden Pause :
            <input
              [(ngModel)]="inputEnd"
              class="input-endtime"
              mat-input
              size="5"
              type="time"
              value="{{ selectedItem.start | date: 'HH:mm' }}"
            />
          </div>
        </div>
        <div class="action-button">
          <button (click)="editItem()" class="button" mat-button>
            Pause bearbeiten
          </button
          >
          <button class="button" mat-button mat-dialog-close>Abbrechen</button>
        </div>
      </mat-tab>
      <mat-tab *ngIf="selectedItem.position.break !== 0" label="Pause Löschen">
        <div class="tab-content-add">
          <div class="input-time">
            Startzeit der zu löschenden Pause :
            <span class="starttime">
              <strong>{{ selectedItem.start | date: "HH:mm" }}</strong>
            </span>
          </div>
          <div class="input-time">
            Endzeit der zu löschenden Pause :
            <span class="endtime">
              <strong>{{ selectedItem.end | date: "HH:mm" }}</strong>
            </span>
          </div>
        </div>

        <div class="action-button">
          <button (click)="deleteItem()" class="button" mat-button>
            Pause löschen
          </button
          >
          <button class="button" mat-button mat-dialog-close>Abbrechen</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <!-- <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Schließen</button>
  </div> -->
</div>
