.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title {
    text-align: center;
  }
  .content {
    text-align: center;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
  }
}
