<div class="container">
  <div class="content">
    <span class="title">{{ titleH }}</span>
    <div class="content-content">
      <span class="search">
        <mat-form-field color="primary" floatLabel="never">
          <mat-label><span class="search-text">Suchen</span></mat-label>
          <input matInput type="text" (keyup)="doFilter($event.target.value)" [(ngModel)]="searched" />
        </mat-form-field>
        <mat-icon (click)="resetSearch()">clear</mat-icon>
      </span>
      <span class="option"
        ><mat-icon mat-icon-button [matMenuTriggerFor]="menu" class="button-menu">more_vert</mat-icon>
        <mat-menu #menu="matMenu" class="menu">
          <button mat-menu-item [matMenuTriggerFor]="spalten">Spaltenfilter</button>
          <button mat-menu-item (click)="reset()">Spalten zurücksetzen</button>
        </mat-menu>
        <mat-menu #spalten="matMenu">
          <div *ngFor="let c of colOpt" (click)="$event.stopPropagation()">
            <button mat-menu-item>
              <mat-checkbox [checked]="includedInCol(c)" (change)="onCheckBoxChanged($event, c)">{{ c }}</mat-checkbox>
            </button>
          </div>
        </mat-menu>
      </span>
    </div>
  </div>
</div>
