<div class="container">
  <div class="content">
    <span class="title">{{ titleH }}</span>
    <div class="content-content">
      <span class="search">
        <mat-form-field
          class="search-content"
          color="primary"
          floatLabel="never"
        >
          <mat-label><span class="search-text">Suchen</span></mat-label>
          <input
            (keyup)="doFilter($event.target.value)"
            [(ngModel)]="searched"
            matInput
            type="text"
          />
        </mat-form-field>
      </span>
      <span class="option"
      ><mat-icon (click)="resetSearch()" class="button-menu" mat-icon-button
      >clear</mat-icon
      ><mat-icon
        [matMenuTriggerFor]="menu"
        class="button-menu"
        mat-icon-button
      >more_vert</mat-icon
      >
        <mat-menu #menu="matMenu" class="menu">
          <button [matMenuTriggerFor]="spalten" mat-menu-item>
            Spaltenfilter
          </button>
          <button (click)="reset()" mat-menu-item>Spalten zurücksetzen</button>
        </mat-menu>
        <mat-menu #spalten="matMenu">
          <div
            (click)="$event.stopPropagation()"
            *ngFor="let c of colOpt; let i = index"
          >
            <button #menu1 *ngIf="i !== 0" mat-menu-item>
              <mat-checkbox
                #checkbox
                (change)="onCheckBoxChanged($event, c)"
                [(ngModel)]="checked[i]"
                [checked]="true"
              >{{ c }}</mat-checkbox
              >
            </button>
          </div>
        </mat-menu>
      </span>
    </div>
  </div>
</div>
