<div class="container">
  <div class="header">
    <div class="image"><img src="assets/stempeluhr-img/logo.svg"/></div>
    <div class="time">
      <span class="clock">{{ clock | date: "HH:mm:ss" }}</span>
      <span class="date">{{ date | date: "fullDate" }}</span>
      <span class="dateShort"
      >{{ date | date: "EE" }} {{ date | date: "shortDate" }}</span
      >
    </div>
  </div>
  <router-outlet></router-outlet>
  <!-- <app-treetable [dataSource]="tree" [displayedColumns]="col"></app-treetable> -->
</div>
