<app-treetable-header
  (addColumn)="addColumn($event)"
  (clearSearch)="clearSearch()"
  (filter)="filter($event)"
  (minColumn)="minColumn($event)"
  (resetColumn)="resetColumn()"
  [colOpt]="displayedColumns"
  [titleH]="titleT"
></app-treetable-header>
<div>
  <table [dataSource]="displayList" mat-table>
    <ng-container *ngFor="let column of spalten" matColumnDef="{{ column }}">
      <th *matHeaderCellDef mat-header-cell>{{ column }}</th>
      <td *matCellDef="let item; let i = index" mat-cell>
        <span *ngIf="column === 'datum'"
        ><span class="spacer-{{ item.type }}"></span>
          <span (click)="handleClick(item)" class="icon">
            <mat-icon *ngIf="isOpen(item) && item.type > 0"
            >arrow_drop_down</mat-icon
            ><mat-icon
            *ngIf="!isOpen(item) && item.type !== maxType && item.type > 0"
          >arrow_right</mat-icon
          ><mat-icon *ngIf="item.type === maxType">minimize</mat-icon>
          </span>
          <span *ngIf="item.type === 1">{{ item.value[0].dateOfDetails }}</span
          ><span *ngIf="item.type === 2">Buchung</span
          ><span *ngIf="item.type === 3">Pause</span>
          <span *ngIf="item.type === -2"
          ><button mat-button>
              <mat-icon>add</mat-icon>Neue Buchung hinzufügen
            </button></span
          >
          <span *ngIf="item.type === -3"
          ><button mat-button>
              <mat-icon>add</mat-icon>Neue Pause hinzufügen
            </button></span
          >
        </span>

        <span *ngIf="column === 'start'"
        ><span *ngIf="item.type === 1">{{
          item.value[0].completePeriod.start | date: "HH:mm"
          }}</span
        ><span *ngIf="item.type !== 1 && item.type > 0">{{
          item.value[0].period.start | date: "HH:mm"
          }}</span></span
        >
        <span *ngIf="column === 'end'"
        ><span *ngIf="item.type === 1">{{
          item.value[0].completePeriod.end | date: "HH:mm"
          }}</span
        ><span *ngIf="item.type !== 1 && item.type > 0">{{
          item.value[0].period.end | date: "HH:mm"
          }}</span></span
        >
        <span *ngIf="column === 'action'"
        ><mat-icon *ngIf="editable[i]">edit</mat-icon
        ><mat-icon *ngIf="editable[i]">delete</mat-icon></span
        >
      </td>
    </ng-container>
    <tr *matHeaderRowDef="spalten" mat-header-row></tr>
    <tr
      *matRowDef="let row; columns: spalten; let i = index"
      [class.highlighted]="found.includes(i)"
      mat-row
    ></tr>
  </table>
</div>
