<div class="navigation">
  <button
    (click)="handleClickNavi(1)"
    *ngIf="tableNumber !== 'tabelle-1'"
    mat-raised-button
  >
    Übersichtstabelle
  </button>
  <button
    *ngIf="tableNumber === 'tabelle-1'"
    class="disabled"
    disabled
    mat-raised-button
  >
    Übersichtstabelle
  </button>
  <button
    (click)="handleClickNavi(4)"
    *ngIf="tableNumber !== 'overview'"
    mat-raised-button
  >
    Übersichtstabelle1
  </button>
  <button
    *ngIf="tableNumber === 'overview'"
    class="disabled"
    disabled
    mat-raised-button
  >
    Übersichtstabelle1
  </button>
  <button
    (click)="handleClickNavi(5)"
    *ngIf="tableNumber !== 'overview-1'"
    mat-raised-button
  >
    Neu
  </button>
  <button
    *ngIf="tableNumber === 'overview-1'"
    class="disabled"
    disabled
    mat-raised-button
  >
    Neu
  </button>
  <button
    (click)="handleClickNavi(2)"
    *ngIf="tableNumber !== 'tabelle-2'"
    mat-raised-button
  >
    Kontenübersicht
  </button>
  <button
    *ngIf="tableNumber === 'tabelle-2'"
    class="disabled"
    disabled
    mat-raised-button
  >
    Kontenübersicht
  </button>
  <button
    (click)="handleClickNavi(3)"
    *ngIf="tableNumber !== 'tabelle-3'"
    mat-raised-button
  >
    Tabellen basierte Auswertung
  </button>
  <button
    *ngIf="tableNumber === 'tabelle-3'"
    class="disabled"
    disabled
    mat-raised-button
  >
    Tabellen basierte Auswertung
  </button>
  <button
    (click)="handleClickNavi(6)"
    [disabled]="tableNumber === 'hallo'"
    [ngClass]="tableNumber === 'hallo' ? 'disabled' : ''"
    mat-raised-button
  >
    TreeTableÜbersicht
  </button>
</div>
