.container {
  margin: 20px;
  margin-top: 0;
  background-color: whitesmoke;
  min-height: 750px;

  .navigation {
    background-color: #98042a;

    button {
      width: 250px;
      margin: 10px;
    }
  }

  .content {
    margin: 10px;
    min-height: 650px;
    //border: 1px gray solid;
    margin: 10px;

    .content-title {
      //border: 1px gray solid;
      height: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .title {
        h2 {
          margin: 0;
          font-size: 30px;
        }
      }

      .subtitle {
        font-size: 7px;
      }
    }

    .content-header {
      background-color: lightgray;
    }

    .content-content {
      ul {
        list-style-type: none;
      }
    }

    mat-icon {
      cursor: pointer;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    //border: 2px grey solid;
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  .container {
    //border: 2px red solid;
  }
}

@media (max-width: 799px) {
  .container {
    //border: 2px red solid;
  }
}
