<div class="container">
  <app-navi></app-navi>
  <div class="content">
    <div class="content-title">
      <span class="title"><h2>Tabellen basierte Auswertung</h2></span>

      <span
        [style]="{ visibility: showRange ? 'visible' : 'hidden' }"
        class="substitle"
      >für den Zeitraum {{ this.dateStart | date: "shortDate" }} bis
        {{ this.dateEnd | date: "shortDate" }}</span
      >
    </div>
    <div class="content-header">
      <mat-form-field class="name">
        <mat-label>Mitarbeitername</mat-label>
        <mat-select [(ngModel)]="listSelectedEmployees" multiple>
          <mat-option *ngFor="let e of employees" [value]="e">
            {{ e.firstName }} {{ e.lastName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gruppierung des Zeitraumes</mat-label>
        <mat-select [(ngModel)]="range">
          <mat-option value="0">1 Tag</mat-option>
          <mat-option value="7">7 Tag</mat-option>
          <mat-option value="30">1 Monat</mat-option>
          <mat-option value="365">1 Jahr</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="date">
        <mat-label>Startdate</mat-label>
        <input [(ngModel)]="dateEnd" [matDatepicker]="picker1" matInput/>
        <mat-datepicker-toggle
          [for]="picker1"
          matSuffix
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <button (click)="handleClickFilter()" mat-raised-button>Filter</button>
      <!-- <div *ngIf="dateStart && dateEnd">
        {{ this.message }} {{ this.dateStart | date: "shortDate" }} bis
        {{ this.dateEnd | date: "shortDate" }} range: {{ range }}
      </div> -->
    </div>
    <div class="content-content">
      <table [dataSource]="listDataSource" mat-table>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell>Name</th>
          <td *matCellDef="let e" mat-cell>
            <span *ngIf="e.name">{{ e.name }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="bruto-arbeitstage">
          <th *matHeaderCellDef mat-header-cell>Bruto Arbeitstage</th>
          <td *matCellDef="let e" mat-cell>
            <span *ngIf="e.bruttoAT">{{ e.bruttoAT }} Tag(e)</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="sondertage">
          <th *matHeaderCellDef mat-header-cell>
            Krankheitstage/Urlaubstage/Sondertage
          </th>
          <td *matCellDef="let e" mat-cell>
            <span
            >{{ e.illness }} / {{ e.vacation }} /
              {{ e.specialDay }} Tag(e)</span
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="sollAZ">
          <th *matHeaderCellDef mat-header-cell>Soll Arbeitszeit</th>
          <td *matCellDef="let e" mat-cell>
            <span *ngIf="e.sollAZ"
            >{{ e.sollAZ | number: "1.2-2" }} Stunde(n)</span
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="istAZ">
          <th *matHeaderCellDef mat-header-cell>Ist Arbeitszeit</th>
          <td *matCellDef="let e" mat-cell>
            <span *ngIf="e.istAZ"
            >{{ e.istAZ | number: "1.2-2" }} Stunde(n)</span
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="sollPause">
          <th *matHeaderCellDef mat-header-cell>Soll Pause</th>
          <td *matCellDef="let e" mat-cell>
            <ng-container *ngIf="e.sollPause !== null"
            >{{ e.sollPause | number: "1.2-2" }} Stunde(n)
            </ng-container
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="istPause">
          <th *matHeaderCellDef mat-header-cell>Ist Pause</th>
          <td *matCellDef="let e" mat-cell>
            <span *ngIf="e.istPause"
            >{{ e.istPause | number: "1.2-2" }} Stunde(n)</span
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="gesammelte-ueberstunden">
          <th *matHeaderCellDef mat-header-cell>Gesammelte Überstunden</th>
          <td *matCellDef="let e" mat-cell>
            <span *ngIf="e.overtime"
            >{{ e.overtime | number: "1.2-2" }} Stunde(n)</span
            >
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let myRowData; columns: displayColumns" mat-row></tr>
      </table>
    </div>
  </div>
  <app-footer></app-footer>
</div>
