<div class="container">
  <app-navi></app-navi>
  <div class="content">
    <div class="content-title">
      <span class="title"><h2>Übersichtstabelle mit Korrekturfunktion</h2></span
      ><span
      *ngIf="this.dateStartDisplay && this.dateEndDisplay"
      [style]="{ visibility: showRange ? 'visible' : 'hidden' }"
      class="substitle"
    >für den Zeitraum {{ this.dateStartDisplay | date: "shortDate" }} bis
      {{ this.dateEndDisplay | date: "shortDate" }}</span
    >
    </div>
    <div class="content-header">
      <mat-form-field class="name">
        <mat-label>Mitarbeitername</mat-label>
        <mat-select [(ngModel)]="currentEmployeeId">
          <mat-option *ngFor="let e of listOfEmployee" [value]="e.employeeId">
            {{ e.firstName }} {{ e.lastName }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Zeitraum auswählen</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            [(ngModel)]="dateStart"
            matStartDate
            placeholder="Start date"
          />
          <input [(ngModel)]="dateEnd" matEndDate placeholder="End date"/>
        </mat-date-range-input>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button (click)="handleClickFilter()" mat-raised-button>Filter</button>
    </div>
    <div class="content-content">
      <table [dataSource]="listDisplay" mat-table>
        <ng-container matColumnDef="datum">
          <th *matHeaderCellDef mat-header-cell>Angaben</th>
          <td
            (click)="handleClick(book.id)"
            *matCellDef="let book"
            class="arrow"
            mat-cell
          >
            <span *ngIf="book.position.book === 0 && book.position.break === 0"
            ><mat-icon>{{
              isOpened(book.id)
                ? "keyboard_arrow_down"
                : "keyboard_arrow_right"
              }}</mat-icon
            >
              {{ book.dateOfDetails | date: "EE" }}
              {{ book.dateOfDetails | date: "shortDate" }}</span
            >
            <span
              *ngIf="book.position.book !== 0 && book.position.break === 0"
              class="spacer-book"
            ><mat-icon>{{
              isOpened(book.id)
                ? "keyboard_arrow_down"
                : "keyboard_arrow_right"
              }}</mat-icon
            >Buchung {{ book.position.book }}</span
            >
            <span *ngIf="book.position.break !== 0" class="spacer-break"
            >Pause {{ book.position.book }}.{{ book.position.break }}</span
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="start">
          <th *matHeaderCellDef class="center" mat-header-cell>Start</th>
          <td
            (click)="openEditDialog(book.id)"
            *matCellDef="let book"
            class="center"
            mat-cell
          >
            <span>{{ book.start | date: "HH:mm" }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="end">
          <th *matHeaderCellDef class="center" mat-header-cell>End</th>
          <td
            (click)="openEditDialog(book.id)"
            *matCellDef="let book"
            class="center"
            mat-cell
          >
            <span>{{ book.end | date: "HH:mm" }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="istAZ">
          <th *matHeaderCellDef class="center" mat-header-cell>Ist AZ</th>
          <td *matCellDef="let book" class="center" mat-cell>
            <span>{{ book.info.istAZ | millisFormat }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="sollAZ">
          <th *matHeaderCellDef class="center" mat-header-cell>Soll AZ</th>
          <td *matCellDef="let book" class="center" mat-cell>
            <span> {{ book.info.sollAZ | millisFormat }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="istPause">
          <th *matHeaderCellDef class="center" mat-header-cell>Ist Pause</th>
          <td *matCellDef="let book" class="center" mat-cell>
            <span> {{ book.info.istPause | millisFormat }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="sollPause">
          <th *matHeaderCellDef class="center" mat-header-cell>Soll Pause</th>
          <td *matCellDef="let book" class="center" mat-cell>
            <span>{{ book.info.sollPause | millisFormat }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="overtime">
          <th *matHeaderCellDef class="center" mat-header-cell>Überstunden</th>
          <td *matCellDef="let book" class="center" mat-cell>
            <span>{{ book.info.ueberstunden | millisFormat }}</span>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let myRowData; columns: displayColumns" mat-row></tr>
      </table>
    </div>
  </div>
  <app-footer></app-footer>
</div>
