.container {
  height: auto;
  min-width: auto;
  margin: 20px;
  margin-top: 0;
  background-color: whitesmoke;
  min-height: 750px;

  .content {
    //border: 1px gray solid;
    margin: 10px;
    min-height: 650px;

    .content-title {
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        h2 {
          margin: 0;
          font-size: 30px;
        }
      }
    }

    .content-header {
      background-color: lightgray;
    }

    .content-content {
      //overflow: scroll;
      min-height: 500px;
      //border: 1px black solid;
      .dayType {
        background-color: lightgrey;
      }
    }

    mat-icon {
      cursor: pointer;
      font-size: 20px;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    //border: 2px grey solid;
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  .container {
    //border: 2px red solid;
  }
}

@media (max-width: 799px) {
  .container {
    //border: 2px red solid;
  }
}
