<div class="container">
  <app-navi></app-navi>
  <div class="content">
    <div class="content-title">
      <span class="title"><h2>Übersichtstabelle mit Korrekturfunktion</h2></span
      ><span
      *ngIf="this.dateStartDisplay && this.dateEndDisplay"
      [style]="{ visibility: showRange ? 'visible' : 'hidden' }"
      class="substitle"
    >für den Zeitraum {{ this.dateStartDisplay | date: "shortDate" }} bis
      {{ this.dateEndDisplay | date: "shortDate" }}</span
    >
    </div>
    <div class="content-header">
      <mat-form-field class="name">
        <mat-label>Mitarbeitername</mat-label>
        <mat-select [(ngModel)]="currentEmployeeId">
          <mat-option *ngFor="let e of employees" [value]="e.employeeId">
            {{ e.firstName }} {{ e.lastName }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Zeitraum auswählen</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            [(ngModel)]="dateStart"
            matStartDate
            placeholder="Start date"
          />
          <input [(ngModel)]="dateEnd" matEndDate placeholder="End date"/>
        </mat-date-range-input>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button (click)="handleClickFilter()" mat-raised-button>Filter</button>
    </div>
    <div class="content-content">
      <table [dataSource]="listDisplay" mat-table>
        <ng-container matColumnDef="datum">
          <th *matHeaderCellDef mat-header-cell>Angabe</th>
          <td (click)="handleClick(book.id)" *matCellDef="let book" mat-cell>
            <span *ngIf="book.type === 'book'" class="spacer-1"
            >&nbsp;&nbsp;
            </span>
            <span *ngIf="book.type === 'break'" class="spacer-2"
            >&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            </span>
            <mat-icon *ngIf="book.type !== 'break'">{{
              isOpen(book.id) ? "keyboard_arrow_down" : "keyboard_arrow_right"
              }}</mat-icon
            >
            <span *ngIf="book.type === 'day'"
            >{{ book.datum | date: "EE" }}
              {{ book.datum | date: "shortDate" }}</span
            >
            <span *ngIf="book.type === 'book'"
            >{{ book.datum }} {{ book.buchung }}</span
            >
            <span *ngIf="book.type === 'break'"
            >{{ book.datum }} {{ book.buchung }}.{{ book.pause }}</span
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="start">
          <th *matHeaderCellDef mat-header-cell>Start</th>
          <td *matCellDef="let book" mat-cell>
            <span *ngIf="!book.editable">{{ book.start | date: "HH:mm" }}</span>
            <span *ngIf="book.editable">
              <input
                [(ngModel)]="inputStart"
                mat-input
                size="5"
                type="time"
                value="{{ book.start | date: 'HH:mm' }}"
              />
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="end">
          <th *matHeaderCellDef mat-header-cell>End</th>
          <td *matCellDef="let book" mat-cell>
            <span *ngIf="!book.editable">{{ book.end | date: "HH:mm" }}</span>
            <span *ngIf="book.editable">
              <input
                [(ngModel)]="inputEnd"
                mat-input
                size="5"
                type="time"
                value="{{ book.end | date: 'HH:mm' }}"
              />
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="istAZ">
          <th *matHeaderCellDef mat-header-cell>Ist AZ</th>
          <td *matCellDef="let book" mat-cell>
            <span *ngIf="book.type === 'day'">{{
              book.istAZ | millisFormat
              }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="sollAZ">
          <th *matHeaderCellDef mat-header-cell>Soll AZ</th>
          <td *matCellDef="let book" mat-cell>
            <span *ngIf="book.type === 'day'">{{
              book.sollAZ | millisFormat
              }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="istPause">
          <th *matHeaderCellDef mat-header-cell>Ist Pause</th>
          <td *matCellDef="let book" mat-cell>
            <span *ngIf="book.type === 'day'">{{
              book.istPause | millisFormat
              }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="sollPause">
          <th *matHeaderCellDef mat-header-cell>Soll Pause</th>
          <td *matCellDef="let book" mat-cell>
            <span *ngIf="book.type === 'day'">{{
              book.sollPause | millisFormat
              }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="overtime">
          <th *matHeaderCellDef mat-header-cell>Überstunden</th>
          <td *matCellDef="let book" mat-cell>
            <span *ngIf="book.type === 'day'">{{
              book.ueberstunden | millisFormat
              }}</span>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayColumns; sticky: true" mat-header-row></tr>
        <tr
          *matRowDef="let myRowData; columns: displayColumns"
          [ngClass]="{ dayType: myRowData.type === 'day' }"
          mat-row
        ></tr>
      </table>
    </div>
  </div>
  <app-footer class="footer"></app-footer>
</div>
