<div class="container">
  <div class="navigation">
    <button mat-raised-button disabled>Übersichtstabelle</button>
    <button mat-raised-button (click)="handleClickNavi2()">
      Kontenübersicht
    </button>
    <button mat-raised-button (click)="handleClickNavi3()">
      Tabellen basierte Auswertung
    </button>
  </div>
  <div class="content">
    <div class="content-title">
      <span class="title"><h2>Übersichtstabelle mit Korrekturfunktion</h2></span
      ><span
        class="substitle"
        [style]="{ visibility: showRange ? 'visible' : 'hidden' }"
        >für den Zeitraum {{ this.dateStart | date: "shortDate" }} bis
        {{ this.dateEnd | date: "shortDate" }}</span
      >
    </div>
    <div class="content-header">
      <mat-form-field class="name">
        <mat-label>Mitarbeitername</mat-label>
        <mat-select [(ngModel)]="currentEmployeeId">
          <mat-option *ngFor="let e of employees" [value]="e.employeeId">
            {{ e.firstName }} {{ e.lastName }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field class="date">
        <mat-label>Startdate</mat-label>
        <input matInput [matDatepicker]="picker1" [(ngModel)]="dateStart" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="date">
        <mat-label>Enddate</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="dateEnd" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button (click)="handleClickFilter()">Filter</button>
    </div>
    <div class="content-content">
      <!-- <treetable [tree]="treeData"></treetable> -->
      <table mat-table [dataSource]="listDisplay">
        <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef>Angabe</th>
          <td mat-cell *matCellDef="let book" (click)="handleClick(book.id)">
            <span *ngIf="book.type === 'book'">&nbsp; &nbsp;</span>
            <span *ngIf="book.type === 'break'"
              >&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</span
            >
            <mat-icon *ngIf="book.type !== 'break'">{{
              isOpen(book.id) ? "keyboard_arrow_down" : "keyboard_arrow_right"
            }}</mat-icon
            ><span *ngIf="book.type === 'day'"
              >{{ book.datum | date: "EE" }}
              {{ book.datum | date: "shortDate" }}</span
            >
            <span *ngIf="book.type === 'book'"
              >{{ book.datum }} {{ book.buchung }}</span
            >
            <span *ngIf="book.type === 'break'"
              >{{ book.datum }} {{ book.pause }}</span
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef>Start</th>
          <td mat-cell *matCellDef="let book">
            {{ book.start | date: "HH:mm" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef>End</th>
          <td mat-cell *matCellDef="let book">
            {{ book.end | date: "HH:mm" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="istAZ">
          <th mat-header-cell *matHeaderCellDef>Ist AZ</th>
          <td mat-cell *matCellDef="let book">
            <span *ngIf="book.type === 'day'">{{
              dateFormat(book.istAZ)
            }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="sollAZ">
          <th mat-header-cell *matHeaderCellDef>Soll AZ</th>
          <td mat-cell *matCellDef="let book">
            <span *ngIf="book.type === 'day'">{{
              dateFormat(book.sollAZ)
            }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="istPause">
          <th mat-header-cell *matHeaderCellDef>Ist Pause</th>
          <td mat-cell *matCellDef="let book">
            <span *ngIf="book.type === 'day'">{{
              dateFormat(book.istPause)
            }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="sollPause">
          <th mat-header-cell *matHeaderCellDef>Soll Pause</th>
          <td mat-cell *matCellDef="let book">
            <span *ngIf="book.type === 'day'">{{
              dateFormat(book.sollPause)
            }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="overtime">
          <th mat-header-cell *matHeaderCellDef>Überstunden</th>
          <td mat-cell *matCellDef="let book">
            <span *ngIf="book.type === 'day'">{{
              dateFormat(book.ueberstunden)
            }}</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: displayColumns"></tr>
      </table>
    </div>
  </div>
</div>
